<div class="text-center loader" *ngIf="loading"></div>
<div #scrollContent class="row flex-row flex-nowrap amount-cont">
  <div class="col-md-3 channel-bg pt-3 mr-3 pr-0" *ngIf="vipAmountList.length">
    <div class="channel-label text-nowrap text-center mb-1">
      <i class="alipay"></i>
      <h6> 支付宝转账</h6>
    </div>

    <div class="channel-scroll pr-3">
      <ng-container *ngFor="let item of vipAmountList | orderBy: ''">
        <div class="card mb-3 btn btn-pay" (click)="send(item, 'AliPayAccount')">
          <div class="card-body p-2 text-center">
            <span class="card-text font-weight-bold align-middle h5 text-nowrap">{{item}}元</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-3 channel-bg pt-3 mr-3 pr-0" *ngIf="vipAmountList.length">
    <div class="channel-label text-nowrap text-center mb-1">
      <i class="alipay"></i>
      <h6> 支付宝扫码</h6>
    </div>

    <div class="channel-scroll pr-3">
      <ng-container *ngFor="let item of vipAmountList | orderBy: ''">
        <div class="card mb-3 btn btn-pay" (click)="send(item, 'AliPayQR')">
          <div class="card-body p-2 text-center">
            <span class="card-text font-weight-bold align-middle h5 text-nowrap text-nowrap">{{item}}元</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-3 channel-bg pt-3 mr-3 pr-0" *ngIf="vipAmountList.length">
    <div class="channel-label text-nowrap text-center mb-1">
      <i class="none-ico"></i>
      <h6> 银行卡</h6>
    </div>
    <div class="channel-scroll pr-3">
      <ng-container *ngFor="let item of vipAmountList | orderBy: ''">
        <div class="card mb-3 btn btn-pay" (click)="send(item, 'BankCard')">
          <div class="card-body p-2 text-center">
            <span class="card-text font-weight-bold align-middle h5 text-nowrap">{{item}}元</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="col-md-3 channel-bg pt-3 mr-3 pr-0" *ngIf="vipAmountList.length">
    <div class="channel-label text-nowrap text-center mb-1">
      <i class="wechat"></i>
      <h6> 微信扫码</h6>
    </div>
    <div class="channel-scroll pr-3">
      <ng-container *ngFor="let item of vipAmountList | orderBy: ''">
        <div class="card mb-3 btn btn-pay" (click)="send(item, 'WeChatQR')">
          <div class="card-body p-2 text-center">
            <span class="card-text font-weight-bold align-middle h5 text-nowrap">{{item}}元</span>
          </div>
        </div>
      </ng-container>
    </div>
  </div>



</div>
