<div class="modal-header black-bg">
  <h6 class="modal-title"*ngIf="data.type === 'OFFLINE_BANK' || data.type === 'BANK'">请转至以下银行卡</h6>
  <h6 class="modal-title"*ngIf="data.type !== 'OFFLINE_BANK' && data.type !== 'BANK'">选择付款方式</h6>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close('Close click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="data.type === 'OFFLINE_BANK' || data.type === 'BANK' || data.type === 'AliPayAccount' || data.type === 'BankCard'">
  <div>
    <div class="row">
      <div class="col-md-12 align-middle mb-1 h5" *ngIf="data.bankAccount">
        <label>{{data.bankAccount}}</label>
        <div class="float-right blue h5" (click)="copy(data.bankAccount)">复制</div>
      </div>
      <div class="col-md-12 align-middle mb-1 h5" *ngIf="data.accountNumber">
        <label>{{data.accountNumber}}</label>
        <div class="float-right blue h5" (click)="copy(data.accountNumber)">复制</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 h5">
        <label>{{data.bankAccountName}}</label>
        <div class="float-right blue" (click)="copy(data.bankAccountName)">复制</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer black-bg" *ngIf="data.type === 'OFFLINE_BANK' || data.type === 'BANK' || data.type === 'AliPayAccount' || data.type === 'BankCard';else other">
  <button type="button" class="btn modal-btn col-md-6" (click)="activeModal.close('Close click')">取消</button>
  <button type="button" class="btn modal-btn col-md-6" (click)="activeModal.close('Close click')">已完成转账</button>
</div>
<ng-template #other>
  <div class="modal-footer black-bg" >
    <a  *ngIf="data.content && data.type !== 'HTML' && data.type !== 'FORM_DOC'; else _content"
        class="btn modal-btn" href="{{data.content}}" target="_blank">
      打开APP支付</a>
    <ng-template #_content>
      <button class="btn modal-btn" (click)="openNewTab()">打开APP支付</button>
    </ng-template>
  </div>
</ng-template>
