.blue {
  color: #FFB48E59;
  cursor: pointer;
}

.qr-code-img {
  width: 200px;
}

iframe{
  background: white;
}

.qr-code-img {
  background: white;
  padding: 3px;
}

.touch {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  position: fixed;
}
