ngx-datatable {
  width: 92%
}

.selected {
  background-image: url("../../../../assets/images/light-brown-bg.png");
  box-shadow: none !important;
  border: none !important;
}

.btn-xs {
  padding: 1px 6px !important;
}

datatable-scroller { width: 100% !important; }

p {
  margin-bottom: 5px;
}
