<div class="row ml-0">
  <div class="col-xs-12 pd-10">
    <button type="button" class="btn btn-xs btn-outline-secondary" [ngClass]="{'selected brown': mode === 'day'}"
            (click)="search('day')">今天</button>
    <button type="button" class="btn btn-xs btn-outline-secondary mr-2 ml-2" [ngClass]="{'selected brown': mode === 'week'}"
            (click)="search('week')">近一周</button>
    <button type="button" class="btn btn-xs btn-outline-secondary" [ngClass]="{'selected brown': mode === 'month'}"
            (click)="search('month')">近一月</button>
  </div>
  <div class="col-12 p-0">
    <ngx-datatable class="material"
                   [rows]="rows"
                   [columns]="columns"
                   [headerHeight]="50"
                   [footerHeight]="81"
                   rowHeight="auto"
                   [columnMode]="ColumnMode.force"
                   [externalPaging]="true"
                   [count]="page.totalElements"
                   [loadingIndicator]="loading"
                   [offset]="page.pageNumber"
                   [limit]="page.size"
                   (page)="setPage($event)"
                   (sort)="onSort($event)">

      <ngx-datatable-column name="Amount" [width]="20">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p class="word-break ml-2"><strong>{{value}}</strong></p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Channel" [width]="10">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p class="word-break pr-1">{{ value === 'WeChat' ? '微信扫码' :
            value === 'UnionPay'? '银联扫码':
              value === 'UnionPayH5'? '银联快捷':
                value === 'AliPay'? '支付宝扫码' :
                  value === 'QQWallet'? 'QQ钱包' :
                    value === 'WeChatH5'? '微信跳转' :
                      value === 'AliPayH5'? '支付宝跳转' :
                        value === 'BTC'? '比特币' :
                          value === 'OFFLINE_BANK'? '银行卡存款' : value }}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Provider Reference" [width]="110">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p class="truncate">{{value}}</p>
          <button type="button" class="btn btn-xs gold" (click)="copy(value)">复制</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Update Time" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p  class="word-break">{{value}}</p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Status" [width]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <p class="word-break processing font-18" *ngIf="value === 'PROCESSING'">处理中</p>
          <p class="word-break failed font-18" *ngIf="value === 'FAILED'">失败</p>
          <span *ngIf="value !== 'FAILED' && value !== 'PROCESSING'">
          <p class="font-18" *ngIf="value === 'PENDING'">等待</p>
          <p class="font-18" *ngIf="value === 'OK'">完成</p>
          <p class="font-18" *ngIf="value === 'AUDIT'">等审核</p>
        </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" prop="status" [width]="1">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <button type="button" class="btn refresh" (click)="search(null); showRefresh()" *ngIf="value !== 'OK' && value !=='FAILED'"></button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>
