<div class="row">
  <div class="col-xs-12"></div>
  <button type="button" class="btn btn-xs btn-outline-secondary" (click)="search('day')">今天</button>
  <button type="button" class="btn btn-xs btn-outline-secondary mr-2 ml-2" (click)="search('week')">近一周</button>
  <button type="button" class="btn btn-xs btn-outline-secondary" (click)="search('month')">近一月</button>
  <ngx-datatable class="material "
    [rows]="rows"
    [columns]="columns"
   [headerHeight]="50"
   [footerHeight]="50"
   rowHeight="auto"
   [columnMode]="ColumnMode.force"
   [externalPaging]="true"
   [count]="page.totalElements"
   [loadingIndicator]="loading"
   [offset]="page.pageNumber"
   [limit]="page.size"
   (page)="setPage($event)"
   (sort)="onSort($event)">

    <ngx-datatable-column *ngFor="let column of columns" prop="{{column.prop}}">
      <ng-template let-value="value" *ngIf="column.prop === 'providerReference'" ngx-datatable-cell-template>
        {{value}} &nbsp;
        <button class="btn btn-xs btn-outline-primary" (click)="copy(value)">复制</button>
      </ng-template>
      <ng-template let-value="value" *ngIf="column.prop === 'status'" ngx-datatable-cell-template>
        {{value}} &nbsp;
        <button class="btn btn-xs btn-secondary" (click)="search(null)">刷新</button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
