.bg-gray {
  background-color: #e4e8ea;
}

body {
  color: #5a5e61 !important;
}

i{
  cursor: pointer;
}

.alipay{
  background-image: url("../icons/Alipay.svg");
}

.btc{
  background-image: url("../icons/btc.png");
}

.jd{
  background-image: url("../icons/jd.png");
}

.qq-wallet{
  background-image: url("../icons/QQWallet.png");
}

.unionpay{
  background-image: url("../icons/UnionPay.svg");
}

.visa{
  background-image: url("../icons/visa.svg");
}

.wechat{
  background-image: url("../icons/wechat.svg");
}

.ngx-datatable.material{
  box-shadow: none !important;
}

.btn-xs {
  padding: 1px 6px !important;
}

.amount-cont {
  height: 300px;
  overflow: auto;
}
