
@font-face {
  font-family: 'PingFang';
  src: url("../fonts/pingfang/PingFang-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.bg-gray {
  background-color: #e4e8ea;
}

body {
  color: #999999 !important;
  font-family: "PingFang", sans-serif !important;
}


i{
  cursor: pointer;
}

.alipay{
  background-image: url("../icons/Alipay.svg");
}

.btc{
  background-image: url("../icons/btc.png");
}

.jd{
  background-image: url("../icons/jd.png");
}

.qq-wallet{
  background-image: url("../icons/QQWallet.png");
}

.unionpay{
  background-image: url("../icons/UnionPay.svg");
}

.visa{
  background-image: url("../icons/visa.svg");
}

.wechat{
  background-image: url("../icons/wechat.svg");
}

.refresh{
  background-image: url("../images/refresh-icon.png");
  padding: 20px !important;
  box-shadow: none !important;
}

.ngx-datatable.material,
.ngx-datatable.material .datatable-header .datatable-header-cell {
  box-shadow: none !important;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 0px !important;
}

.datatable-header-cell,
.datatable-body-cell,
.datatable-footer,
.datatable-pager a {
  color: #CECECE !important;
}

.amount-cont {
  height: 480px;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.datatable-header-cell,
.datatable-body-cell {
  white-space: normal !important;
  word-wrap: normal;
}

.menu-icon {
  position: absolute;
}

@media (max-width: 767.98px) {
  .cashier-container {
    width: 100% !important;
  }
  .card-body > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .card-body > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }
}

.amount-cont .col-md-3 {
  min-width: 175px;
}

.pd-10 {
  padding-bottom: 10px !important;
}

.black-bg {
  background-color: #1E1B12 !important;
}

.gray-font {
  color: #999999;
}

.brown {
  color: #4D2F00 !important;
}

.gold {
  color: #B48E59 !important;
}

.processing {
  color: #00BA67 !important;
}

.failed {
  color: #E42C2C !important;
}

.datatable-row-even {
  background-color: rgba(255,255,255,0.1) !important;
}

.datatable-row-odd {
  background-color: transparent !important;
}

.datatable-row-group:hover {
  background-color: transparent !important;
}
