
@font-face {
  font-family: 'PingFang';
  src: url("../fonts/pingfang/PingFang-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.bg-gray {
  background-color: #e4e8ea;
}

body {
  color: #999999 !important;
  font-family: "PingFang", sans-serif !important;
}


i{
  cursor: pointer;
}

.alipay{
  background-image: url("../images/alipay.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.btc{
  background-image: url("../icons/btc.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.jd{
  background-image: url("../icons/jd.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.qq-wallet{
  background-image: url("../icons/QQWallet.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.unionpay-scan{
  background-image: url("../images/unionpay.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.unionpay{
  background-image: url("../images/unionpay-2.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}
.offline{
  background-image: url("../images/OfflineBank.png");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}
.visa{
  background-image: url("../icons/visa.svg");
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}

.wechat{
  background: url("../images/wechat.png") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}
.none-ico{
  height: 40px;
  width: 0;
  position: relative;
  display: inline-block;
  content: '';
  right: 4px
}


.announce{
  background: url("../images/announcement.png") no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  content: '';
}

.refresh{
  background-image: url("../images/refresh-icon.png");
  padding: 20px !important;
  box-shadow: none !important;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.ngx-datatable.material,
.ngx-datatable.material .datatable-header .datatable-header-cell {
  box-shadow: none !important;
  background-color: transparent !important;
  font-size: 14px !important;
  font-weight: bold !important;
  padding: 0px !important;
}

.datatable-header-cell,
.datatable-body-cell,
.datatable-footer,
.datatable-pager a {
  color: #CECECE !important;
}

.channel-label h5, .channel-label h6 {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.amount-cont {
  overflow: auto;
}

/* width */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #8c8c8c;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #8c8c8c;
}

::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 1px solid #555555;
}

.datatable-header-cell,
.datatable-body-cell {
  white-space: normal !important;
  word-wrap: normal;
}

.menu-icon {
  position: absolute;
}

@media (max-width: 767.98px) {
  .card-body > .row {
    overflow-x: auto;
    white-space: nowrap;
  }
  .card-body > .row > .col-sm-4 {
    display: inline-block;
    float: none;
  }
}

@media screen and (max-width: 640px) {
  #main-card {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 575px ) {
  #main-card {
    padding-left: 2rem !important;
  }
}
.amount-cont .col-md-3 {
   min-width: 175px;
}

.pd-10 {
  padding-bottom: 10px !important;
}

.black-bg {
  background-color: #070604 !important;
}

.gray-font {
  color: #999999;
}

.brown {
  color: #4D2F00 !important;
}

.gold {
  color: #B48E59 !important;
}

.processing {
  color: #00BA67 !important;
}

.failed {
  color: #E42C2C !important;
}

.datatable-row-even {
  background-color: rgba(255,255,255,0.1) !important;
}

.datatable-row-odd {
  background-color: transparent !important;
}

.datatable-row-group:hover {
  background-color: transparent !important;
}

.btn-pay {
  color: #CECECE !important;
  background-color: #1E1B12 !important;
  border-radius: 0;
  background-image: url("../../assets/images/dark-brown-bg.png");
  background-size: cover;
}

.btn-pay:hover {
  color: #CECECE !important;
  background-image: url("../../assets/images/hi-brown-button.png");
}


.tab-bg {
  background-image: url("../images/tab-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.channel-bg {
  background: rgba(255,255,255,0.1);
}

.amount-cont .channel-bg {
  height: fit-content;
  min-height: 480px;
}

.grad {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(180,143,89,0.2), rgba(255,255,255,0)) !important;
  background-repeat: no-repeat;
  background-size: 90% auto;
}

.grad .list-group {
  width: 90%;
}

datatable-header {
  display: none !important;
}

.modal-content, .modal-header, .modal-footer, .modal-body {
  background-color: #2d2521 !important;
  border-bottom: 1px solid #2d2521 !important;
  border-top: 1px solid #2d2521 !important;
}

.modal-header .close {
  color: #CECECE;
  text-shadow: none !important;
}

.modal-header .close:hover {
  color: #B48E59;
}

.modal-btn {
  background: transparent !important;
  color: #CECECE !important;
  border: 1px solid #CECECE !important;
  font-weight: bold;
}
.modal-btn:hover {
  opacity: 1 !important;
  background: #B48E59 !important;
  color: #4D2F00 !important;
  border: 1px solid #4D2F00 !important;
}

.channel-scroll {
  height: 480px;
  overflow-y: auto;
}

div.channel-scroll::-webkit-scrollbar {width: 7px; height: 0;}
div.channel-scroll::-webkit-scrollbar-track {margin: 0 0 0 0}
div.channel-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.0);
  border-radius: 10px;
  box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
}
div.channel-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.45)
}
div.channel-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.55)
}


@media screen and (max-width: 480px) {
  div.channel-scroll {right: 3px;}
  div.channel-scroll::-webkit-scrollbar {width: 5px;}
  .toast-center-center {
    top: 20% !important;
  }
  .active {
    background-size: 105px 100% !important;
  }
}

@media (max-width: 767.98px) {
  html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  #main-card {
    margin-left: 112px;
    padding-top: 0 !important;
    padding-right: 0 !important;
  }

  .btn-pay .card-text{
    font-size: 15px !important;
  }

  .btn-pay .card-body {
    padding: 0 !important;
  }
  .menu-title {
    padding: 0 !important;
  }

  .cashier-container .menu-title h4{
    font-size: 15px !important;
  }
  .channel-label h5, .channel-label h6 {
    font-size: 12px !important;
  }
  .amount-cont .col-md-3 {
    min-width: 128px;
  }

  app-announcement-bar .channel-bg {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  app-announcement-bar .announce {
    height: 33px;
    width: 33px;
  }

  .card-body {
    padding-top: 8px !important;
  }

  .next-icon i{
    display: block !important;
  }
}




/* OVERRIDES*/
.toast-success {
  background-color: #292826 !important;
  color: #FFCD0F !important;
  text-align: center;
  border-radius: 12px !important;
  width: 200px !important;
}

.next-icon i{
  border-radius: 25px;
  background: rgba(255,255,255,0.1);
  position: fixed;
  right: 0;
  top: 50%;
  display: none;
}

.qr-class img {
  width: 200px !important;
}

datatable-scroller, .datatable-scroll {
  width: 100% !important;
}

.datatable-body-cell {
  padding: 0px !important;
}

.truncate {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.word-break {
  word-break: break-all;
}

.font-18 {
  font-size: 18px !important;
}
datatable-body-row .datatable-row-center, ngx-datatable {
  width: 100% !important;
}

.ml-neg-19 {
  margin-left: -18px;
}

