
<div class="mb-3 mt-lg-4 mx-auto cashier-container tab-bg" [ngClass]="{'mobile' : router.url === '/mobile'}" *ngIf="!isExpired">
  <div class="row no-gutters">
    <div class="col-md-12 p-0 menu-title">
      <ng-material-icon *ngIf="router.url === '/mobile'" class="menu-icon align-middle d-md-none d-lg-none d-xl-none li-brown" icon="menu" size="4" (click)="openNav()"></ng-material-icon>
      <h4 class="text-center mt-2 font-weight-bold">充值</h4>
    </div>
    <div class="grad " [ngClass]=" router.url === '/mobile' ? 'col-md-2 d-none d-sm-none d-md-block d-lg-block d-xl-block' : 'col-md-2 col-sm-2 col-3'">
      <ul class="list-group list-group-flush text-center h5 align-middle">
        <li class="list-group-item" [ngClass]="{'active ': tab === 'recommend'}" (click)="tab = 'recommend'">推荐</li>
        <ng-container  *ngFor="let item of configList">
          <li  class="list-group-item h6" [ngClass]="{'active': tab === 'cashier' && item.id === selectedId}"
               (click)="selectConfig(item.id);tab = 'cashier'">
            {{item.name}}</li>
        </ng-container >
        <li class="list-group-item" [ngClass]="{'active': tab === 'search'}" (click)="tab = 'search'">自选</li>
        <li class="list-group-item" [ngClass]="{'active': tab === 'vip'}" (click)="tab = 'vip'">VIP</li>
        <li class="list-group-item" [ngClass]="{'active': tab === 'record'}" (click)="tab = 'record'">充值记录</li>
      </ul>
    </div>
    <div id="mySidenav" *ngIf="router.url === '/mobile'" class="sidenav d-md-none d-lg-none d-xl-none" #nav>
      <ng-material-icon class="closebtn li-brown" icon="close" size="1" (click)="closeNav()"></ng-material-icon>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light h6" [ngClass]="{'active': tab === 'recommend'}" (click)="tab = 'recommend'">推荐</li>
        <ng-container  *ngFor="let item of configList">
          <li  class="list-group-item bg-light h6" [ngClass]="{'active': tab === 'cashier' && item.id === selectedId}"
               (click)="selectConfig(item.id);tab = 'cashier'">
            {{item.name}}</li>
        </ng-container >
        <li class="list-group-item bg-light h6" [ngClass]="{'active': tab === 'search'}" (click)="tab = 'search'">自选</li>
        <li class="list-group-item bg-light h6" [ngClass]="{'active': tab === 'vip'}" (click)="tab = 'vip'">VIP</li>
        <li class="list-group-item bg-light h6" [ngClass]="{'active': tab === 'record'}" (click)="tab = 'record'">充值记录</li>
      </ul>
    </div>

    <div [ngClass]=" router.url === '/mobile' ? 'col-md-10' : 'col-md-10 col-sm-10 col-9'" id="main-card" #contentDiv>
      <app-announcement-bar></app-announcement-bar>
      <div class="card-body col-12">
        <app-recommend-tab *ngIf="tab === 'recommend'"></app-recommend-tab>
        <app-cashier-tab *ngIf="tab === 'cashier'" #config></app-cashier-tab>
        <app-deposit-record-tab *ngIf="tab === 'record'"></app-deposit-record-tab>
        <app-vip-tab *ngIf="tab === 'vip'"></app-vip-tab>
        <app-search-tab *ngIf="tab === 'search'"></app-search-tab>
      </div>
    </div>
    <button class="next-icon" *ngIf="tab === 'recommend' || tab === 'cashier' || tab === 'vip' || tab === 'search'" (click)="scrollRight()">
      <ng-material-icon class="align-middle li-brown" icon="chevron_right" size="4"></ng-material-icon>
    </button>
  </div>
</div>


