.cashier-container {
  width: 900px
}

.cashier-container h5 {
  font-weight: bolder;
}

.bg-gray {
  background-color: #fbfbfb !important;
}

.list-group-item.active {
  background-color: #a5a5a5!important;
  border-color: #a5a5a5!important;
}

.list-group-item{
  cursor: pointer;
}
