.cashier-container {
  width: 1024px;
}

.cashier-container h5 {
  font-weight: bolder;
}

.bg-gray {
  background-color: #fbfbfb !important;
}

.list-group-item.active {
  background-color: #a5a5a5!important;
  border-color: #a5a5a5!important;
}

.list-group-item{
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #1E1B12;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
}

#main-card {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.cashier-container .menu-title {
  height: 60px;
}

.active {
  background-repeat: no-repeat;
  background-size: 176px 100%;
  height: 100%;
  width: 176px;
  background-image: url("../../../assets/images/sidenav-btn-bg.png");
  color: #4D2F00 !important;
  font-weight: bold;
  font-size: 1rem;
  overflow: hidden;
  max-width: 256px;
  padding-top: 15px;
  padding-right: 3rem;
  padding-bottom: 15px;
}

.sidenav .active {
  background-size: 100% 100% !important;
  max-width: 100%;
  width: 100% !important;
}

.list-group-item.active, .list-group-item {
  background-color: transparent!important;
  border: none;
}

.list-group-item, .list-group-flush:last-child .list-group-item:last-child {
  word-wrap: break-word;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, rgba(255,255,255,0), rgba(153,153,153,0.3), rgba(255,255,255,0)) 1;
}

.grad .list-group {
  border-right: 1px solid;
  border-image: linear-gradient(to top, rgba(255,255,255,0), rgba(153,153,153,0.3), rgba(255,255,255,0)) 1;
}

.li-brown {
  color: #B48E59;;
}

@media (max-width: 767.98px) {
  .mobile {
    width: 100% !important;
  }
}
