<div class="row">
  <ng-container *ngFor="let item of channelList">
    <div class="col-sm-6 mb-1">
      <div class="card">
        <div class="card-body p-2">
          <span class="card-text font-weight-bold align-middle h5">{{item.amount}}元</span>
          <button class="btn btn-light float-right align-middle p-0" (click)="send(item)">
            <ng-material-icon *ngIf="item.channel === 'BANK'" icon="account_balance" size="2"></ng-material-icon>
            <strong *ngIf="item.channel === 'OFFLINE_BANK'" >OFFLINE</strong>
            <strong *ngIf="item.channel === 'INTERNAL'" >INTERNAL</strong>
            <div *ngIf="item.channel === 'AliPay' || item.channel === 'AlipayQR' || item.channel === 'ALI'" class="text-hide alipay" style="width: 40px; height: 40px;"></div>
            <div *ngIf="item.channel === 'VISA'" class="text-hide visa" style="width: 30px; height: 30px;"></div>
            <div *ngIf="item.channel === 'BTC'" class="text-hide btc" style="width: 30px; height: 30px;"></div>
            <div *ngIf="item.channel === 'JD'" class="text-hide jd" style="width: 30px; height: 30px;"></div>
            <div *ngIf="item.channel === 'QQWallet'" class="text-hide qq-wallet" style="width: 30px; height: 30px;"></div>
            <div *ngIf="item.channel === 'WeChat'" class="text-hide wechat" style="width: 30px; height: 30px;"></div>
            <div *ngIf="item.channel === 'UnionPay'" class="text-hide unionpay" style="width: 30px; height: 30px;"></div>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

</div>


