<div class="row">

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body p-2">
        <span class="card-text font-weight-bold align-middle h5">20012000元</span>
        <ng-material-icon class="float-right align-middle" icon="send" size="2" ></ng-material-icon>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body p-2">
        <span class="card-text font-weight-bold align-middle h5">250元</span>
        <ng-material-icon class="float-right align-middle" icon="send" size="2" ></ng-material-icon>
      </div>
    </div>
  </div>

</div>
