<div class="col-xs-12 ml-neg-19">
  <h6 class="card-title"><strong>为您推荐</strong></h6>
</div>

<div class="text-center loader" *ngIf="loading"></div>
<div #scrollContent class="row flex-row flex-nowrap amount-cont">
  <ng-container *ngFor="let item of channelList | groupBy:'channel' | orderBy: 'key' : false : false: customComparator; let i=index">
    <div class="channel-bg pt-3 mr-3 pr-0" [ngClass]=" router.url === '/mobile' ? 'col-md-3' : 'col-md-3 col-sm-3 col-3'">
      <div class="channel-label text-nowrap text-center mb-1" >
        <i ngClass="{{ item.key === 'WeChat' || item.key === 'VIP - WeChatQR' || item.key === 'WeChatH5' ? 'wechat' :
          item.key === 'UnionPay'? 'unionpay':
          item.key === 'UnionPayH5'? 'unionpay-scan':
          item.key === 'AliPay' || item.key === 'VIP - AliPayQR' || item.key === 'VIP - AliPayAccount'? 'alipay' :
          item.key === 'BTC'? 'btc' : item.key === 'OFFLINE_BANK'? 'offline' : 'none-ico' }}"></i>
        <h6>{{ item.key === 'WeChat' ? '微信' :
          item.key === 'UnionPay'? '云闪付':
            item.key === 'UnionPayH5'? '银联快捷':
              item.key === 'AliPay'? '支付宝' :
                item.key === 'QQWallet'? 'QQ钱包' :
                  item.key === 'WeChatH5'? '微信' :
                    item.key === 'AliPayH5'? '支付宝跳转' :
                      item.key === 'BTC'? '比特币' :
                        item.key === 'OFFLINE_BANK'? '银行卡' :
                          item.key === 'VIP - AliPayAccount'? '支付宝转账' :
                              item.key === 'VIP - AliPayQR'? '支付宝扫码' :
                                item.key === 'VIP - BankCard'? '银行卡' :
                                  item.key === 'VIP - WeChatQR'? '微信扫码' : item.key }}</h6>
      </div>

      <div class="channel-scroll pr-3">
        {{ i === 4 ?  addNext() : ''}}
        <ng-container *ngFor="let info of item.value | orderBy:'amount'">
          <div class="card mb-3 btn btn-pay" (click)="send(info)" *ngIf="!info.type">
            <div class="card-body p-2 text-center">
              <span class="card-text font-weight-bold align-middle h5 text-nowrap">{{info.amount}}元</span>
            </div>
          </div>
          <div class="card mb-3 btn btn-pay" (click)="sendVip(info.amount, info.type)" *ngIf="info.type">
            <div class="card-body p-2 text-center">
              <span class="card-text font-weight-bold align-middle h5 text-nowrap">{{info.amount}}元</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>
